<div id="data" class="tab-pane container">
	<h2>Run Analysis</h2>
	<div class="card">
		<div class="card-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<table class="table">
							<thead class="thead-light">
							<tr>
								<th scope="col" width="75">DataFrame 0x7d</th>
								<th scope="col" width="300">Description</th>
								<th scope="col">Data Received</th>
							</tr>
							</thead>
							<tbody>
							{{range .Dataframe7d}}
							<tr data-toggle="tooltip" data-placement="left" title="{{.Description}}">
								<th scope="row">{{.BytePosition}}</th>
								<td>{{.Name}}</td>
								<td class="raw" id="{{.Id}}">-</td>
							</tr>
							{{end}}
							</tbody>
						</table>
					</div>

					<div class="col-md-6">
						<table class="table">
							<thead class="thead-light">
							<tr>
								<th scope="col" width="75">DataFrame 0x80</th>
								<th scope="col" width="300">Description</th>
								<th scope="col">Data Received</th>
							</tr>
							</thead>
							<tbody>
							{{range .Dataframe80}}
							<tr data-toggle="tooltip" data-placement="left" title="{{.Description}}">
								<th scope="row">{{.BytePosition}}</th>
								<td>{{.Name}}</td>
								<td class="raw" id="{{.Id}}">-</td>
							</tr>
							{{end}}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
