<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="google" content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.css" rel="stylesheet"/>
    <link href="css/pro-sidebar.css" rel="stylesheet"/>
    <link href="css/sidebar-themes.css" rel="stylesheet"/>
    <link href="css/led.css" rel="stylesheet"/>
    <link href="css/Chart.css" rel="stylesheet">
    <link href="css/memsfcr.css" rel="stylesheet">

    <title>MEMSFCR - MEMS Fault Code Reader</title>
</head>

<body>
<div class="page-wrapper light-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-caret-square-right"></i>
    </a>
    <!-- Load Scenario Modal Dialog -->
    <div class="modal fade" id="scenarioModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="scenarioModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scenarioModalLongTitle">Replay</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group" id="replayList"></div>
                    <div class="dropdown-menu" id="replayScenarios" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="loadScenario()">Run
                    </button>
                </div>
            </div>
        </div>
    </div>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#"><i class="fa fa-stethoscope">&nbsp</i>MemsFCR</a>
                <div id="close-sidebar">
                    <i class="fas fa-caret-square-left"></i>
                </div>
            </div>

            <div class="sidebar-header">
                {{if .NewVersion}}
                    <div class="font-weight-light small"><a target="_blank" class="link-danger" href='https://memsfcr.co.uk/download/'>{{.Version}}</a></div>
                {{ end }}
                <div class="d-flex justify-content-center mb-3">
                    <button class="btn btn-outline-success btn-sm" id="connectECUbtn" type="button">
                        <i class="fa fa-plug">&nbsp</i>Connect
                    </button> &nbsp;
                    <button class="btn btn-outline-success btn-sm" id="playPauseECUbtn" type="button">
                        <i class="fa fa-play-circle">&nbsp</i>Run
                    </button> &nbsp;
                    <button class="btn btn-outline-info btn-sm" id="replayECUbtn" type="button" data-toggle="modal"
                            data-target="#scenarioModalCenter">
                        <i class="fa fa-folder-open">&nbsp</i>Replay
                    </button>
                </div>
                <div class="overflow-hidden">
                    <div class="alert alert-light alert-connect invisible font-weight-light text-wrap connection" role="alert"
                         id="connectionMessage" style="display: none">
                    </div>
                    <div class="progress progressdisplay" style="display:none;">
                        <div class="playback-slider-settings" data-toggle="tooltip"
                             data-placement="top">
                            <input id="playbackposition" class="playback-slider__range" type="range"
                                   value="0" min="0" max="100" step="1" enabled oninput="setPlaybackPosition(this.value)">
                            <span id="playbackpositionvalue" class="playback-slider__value">0</span>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center mb-3">
                    <div class="led-box">
                        <div class="led-green-off" id="ecudata"></div>
                        <p>ECU Connection</p>
                    </div>

                    <div class="led-box">
                        <div class="led-red-off" id="ecufault"></div>
                        <p>Fault Detected</p>
                    </div>
                </div>
            </div>

            <div class="sidebar-menu">
                <ul class="flex-column nav">
                    <li class="header-menu">
                        <span>MEMS Fault Code Reader</span>
                    </li>

                    <li class="nav-item">
                        <a href="#dashboard" data-toggle="tab" class="active nav-link"><i class="fa fa-tachometer-alt">&nbsp;</i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#profiling" data-toggle="tab" class="nav-link"
                        ><i class="fa fa-wave-square">&nbsp;</i>Profiling</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="#alerts" data-toggle="tab" class="nav-link"
                        ><i class="fa fa-bell">&nbsp;</i>Fault Codes & Alerts<span id="ecu-fault-status"
                                                                                   class="badge badge-pill badge-danger notification"></span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#adjustments" data-toggle="tab" class="nav-link"
                        ><i class="fa fa-terminal">&nbsp;</i>Adaptive Values</a>
                    </li>
                    <li class="nav-item">
                        <a href="#actuators" data-toggle="tab" class="nav-link"
                        ><i class="fa fa-cogs">&nbsp;</i>Test Actuators</a>
                    </li>
                    <li class="nav-item">
                        <a href="#data" data-toggle="tab" class="nav-link"
                        ><i class="fa fa-list-ol">&nbsp;</i>ECU Data</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="#settings" data-toggle="tab" class="nav-link"
                        ><i class="fa fa-cog">&nbsp;</i>Settings</a
                        >
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <div class="sidebar-footer p-2">
            <ul>
                <li class="font-weight-bold">MEMS Fault Code Reader</li>
                <li class="font-weight-light">by Andrew Jackson</li>
                <li class="font-weight-light small" id="version">Version 0.0.0 Build 1970-01-01</li>
            </ul>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container-fluid">
            <div class="tab-content">
                <!-- dashboard -->
                <div id="dashboard" class="tab-pane active container">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">(CAS) Engine Speed (RPM)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="The engine RPM is determined by the Crankshaft Angle Sensor or CAS. The failure of this sensor can have a dramatic effect on the engine performance.">
                                            <canvas id="gauge-rpm"></canvas>
                                            <div class="gauge-led-left" data-toggle="tooltip" data-placement="top"
                                                 title="Indicates if the engine is running">
                                                <div class="led-green-off" id="dashboard-enginerunning"></div>
                                            </div>
                                            <div class="gauge-led-right" data-toggle="tooltip" data-placement="top"
                                                 title="Indicates a fault in the crankshaft sensor">
                                                <div class="led-red-off" id="dashboard-crankshaftfault"></div>
                                            </div>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="rpmspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">(MAP) Manifold Absolute Pressure (kPa)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="An essential sensor in the determination of the fuel mixture. The MAP sensor should read 100kPa when the engine is off and around 30 - 60kPa in normal operation. A high reading indicates a vacuum line failure which will result in overrevving at idle and very poor running performance. Another indicator of vacuum line failure is the fuel trim which shows the over fuelling compensation taking place.">
                                            <canvas id="gauge-map"></canvas>
                                            <div class="gauge-led" data-toggle="tooltip" data-placement="top"
                                                 title="Indicates a fault in the MAP readings, check vacuum pipes">
                                                <div class="led-red-off" id="dashboard-mapfault"></div>
                                            </div>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="mapspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">(TPS) Throttle Position (%)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="Indicates to the ECU the position of the throttle. When the engine is at idle the TPS should read 0.6V rising to 4V volts at 90% throttle.">
                                            <canvas id="gauge-throttlepos"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="throttlespark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">(IAC) Stepper Motor Position (Steps)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="The stepper motor is used to control the idle speed of the engine through remote operation of the throttle. The stepper motor is a learnt position incrementing in steps up to 180 steps. Rough or low idle can be a result of the stepper motor failing and making coarse adjustments.">
                                            <canvas id="gauge-iacpos"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="iacspark"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">Battery Voltage (V)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="Battery voltage should be maintained between 12.5V and 14.5V. Overvoltage indicates an alternator fault and can damage the battery, whereas undervoltage will likely cause the ECU to over fuel as the stepper motor will try to increase the idle speed to allow greater alternator charging.">
                                            <canvas id="gauge-battery"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="batteryspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">(CTS) Coolant Temperature (°C)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="The coolant sensor is used to determine the engine temperature, which is used by the ECU to adjust idle speed and when to run in open or closed loop. The engine is deemed to be at operating temperature when it reaches 80C. If the ECU detects a fault condition it will enter limp home mode and use a temperature of 60C.">
                                            <canvas id="gauge-coolant"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="coolantspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">(ATS) Air Intake Temperature (°C)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="The air temperature sensor measures the temperature before it enters the inlet manifold and is critical part of determining the air/fuel ratio. The signal should measure between 2.0 and 3.0 volts at 20C. If the ECU detects a fault condition it will enter limp home mode and use a temperature of 35C.">
                                            <canvas id="gauge-air"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="airspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">(OS) Lamdba Voltage (mV)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="Signal voltage ranges from about 0.2 volts, to about 0.9 volts, which the ECU interprets as changes in the oxygen content of the exhaust stream. A signal voltage of 0.45 represents an air/fuel mixture that is at, or close to the stoichiometric value, and signal voltages above or below this value represent either a rich, or a lean mixture.">
                                            <canvas id="gauge-lambda"></canvas>
                                            <div class="gauge-led">
                                                <div class="led-green-off" id="closedloop"></div>
                                            </div>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="lambdaspark"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">Short Term Fuel Trim</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="Assuming that MAP, ATS and CTS are working correctly, short-term fuel trim values should generally be between positive 10%, and negative 10% when the engine is running at a steady speed.">
                                            <canvas id="gauge-fueltrim"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="fuelspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">Long Term Fuel Trim</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="LTFT should be at, or close to 0%, when the engine is running at a steady speed, such as when it is idling. However, in some cases, the displayed value for long term fuel trims can be as high as 6 to 8% due to age and engine wear.">
                                            <canvas id="gauge-ltfueltrim"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="ltfuelspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">Fuel : Air Ratio</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="Using the sensors and fuel trim the ECU tries to maintain the ideal air/fuel ratio for complete combustion (stoichiometry) – 14.7 parts air to 1 part fuel. The lambda sensor when operating in closed loop provides feedback to the ECU to determine whether the ratio needs to be adjusted by increasing or decreasing the fuel.">
                                            <canvas id="gauge-airfuel"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="airfuelspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dashboard-container">
                                        <div class="gauge-label-container">Ignition Advance (°)</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="Data on engine load (MAP), engine speed (CAS) and engine temperature (CTS) are used to lookup the best ignition advance angle.">
                                            <canvas id="gauge-ignition"></canvas>
                                        </div>
                                        <div class="spark-container">
                                            <canvas id="ignitionspark"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- profiling graphs -->
                <div id="profiling" class="tab-pane container">
                    <h2>Running Performance</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="rpmchart"></canvas>
                            </div>
                            <div class="chart-container">
                                <canvas id="lambdachart"></canvas>
                            </div>
                            <div class="chart-container">
                                <canvas id="loopchart"></canvas>
                            </div>
                            <div class="chart-container">
                                <canvas id="afrchart"></canvas>
                            </div>
                            <div class="chart-container">
                                <canvas id="coolantchart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ECU Data -->
                <div id="data" class="tab-pane container">
                    <h2>ECU Data</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 col-mb-1">
                                <button type="button" class="btn btn-danger mb-3" onclick="resetECU();"
                                        data-toggle="tooltip" data-placement="left"
                                        title="Clears all faults, learnt parameters and adjustments."><i
                                        class="fa fa-exclamation-triangle">&nbsp</i>Reset ECU
                                </button>
                                &nbsp;
                            </div>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col" width="75">DataFrame 0x7d</th>
                                                <th scope="col" width="300">Description</th>
                                                <th scope="col">Data Received</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{range .Dataframe7d}}
                                            <tr data-toggle="tooltip" data-placement="left" title="{{.Description}}">
                                                <th scope="row">{{.BytePosition}}</th>
                                                <td>{{.Name}}</td>
                                                <td class="raw" id="{{.Id}}">-</td>
                                            </tr>
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-md-6">
                                        <table class="table">
                                            <thead class="thead-light">
                                            <tr>
                                                <th scope="col" width="75">DataFrame 0x80</th>
                                                <th scope="col" width="300">Description</th>
                                                <th scope="col">Data Received</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{range .Dataframe80}}
                                            <tr data-toggle="tooltip" data-placement="left" title="{{.Description}}">
                                                <th scope="row">{{.BytePosition}}</th>
                                                <td>{{.Name}}</td>
                                                <td class="raw" id="{{.Id}}">-</td>
                                            </tr>
                                            {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- adaptive values -->
                <div id="adjustments" class="tab-pane container">
                    <h2>Adaptive Values</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 col-mb-1">
                                <button type="button" class="btn btn-warning mb-3" onclick="resetAdj();"
                                        data-toggle="tooltip" data-placement="left"
                                        title="Clear all adjustments made to the Adaptive values."><i
                                        class="fa fa-undo">&nbsp</i>Reset Adjustments
                                </button>&nbsp;
                            </div>
                            <table class="table">
                                <tbody>
                                {{range .Adjustments}}
                                <tr data-toggle="tooltip" data-placement="left"
                                    title="{{.Description}}">
                                    <td>
                                        <button type="button" style="width:150px"
                                                class="btn btn-outline-info text-right" onclick="decrease('{{.Id}}');">
                                            {{.DecreaseLabel}}&nbsp;&lt;</button>
                                    </td>
                                    <td class="adjustment">
                                        <div class="gauge-label-container">{{.Name}}</div>
                                        <div class="gauge-container" data-toggle="tooltip" data-placement="top"
                                             title="{{.Description}}">
                                            <canvas id="{{.Id}}"></canvas>
                                        </div>
                                        <!--
                                        <i class="far {{.Icon}}" style="width:50px"></i>{{.Name}}
                                        <div class="range-slider">
                                            <input id="{{.Id}}" class="range-slider__range" type="range" value="{{.Value}}"
                                                   min="{{.Min}}" max="{{.Max}}" step="{{.Steps}}" disabled aria-disabled="true">
                                            <span id="{{.Id}}" class="range-slider__value">{{.Value}}</span>
                                        </div>
                                        -->
                                    </td>
                                    <td>
                                        <button type="button" style="width:150px"
                                                class="btn btn-outline-info text-left float-right"
                                                onclick="increase('{{.Id}}');">&gt;&nbsp;{{.IncreaseLabel}}
                                        </button>
                                    </td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- test actuators -->
                <div id="actuators" class="tab-pane container">
                    <h2>Test Actuators</h2>
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                {{range .Actuators}}
                                <tr data-toggle="tooltip" data-placement="left" title="{{.Description}}">
                                    <td>{{.Name}}</td>
                                    <td><input id="{{.Id}}" onchange="activateActuator(this)" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="success"></td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- faults and alerts-->
                <div id="alerts" class="tab-pane container">
                    <h2>Fault Codes and Alerts</h2>
                    <p>Fault codes are generated by the ECU. This isn't always due to a faulty sensor so check vacuum pipes and connections first. If a fault code occurs, clear the codes and run the engine again to ensure the code doesn't reoccur.</p>
                    <div class="card bg-light">
                       <div class="card-body">
                            <div class="mb-2">
                                <button type="button" class="btn btn-success" onclick="clearFaultCodes();"><i
                                        class="fa fa-stethoscope">&nbsp</i>Clear Faults
                                </button>
                            </div>
                            <span>
                                {{range .ECUFaultLeds}}
	                                <div class="led-box" data-toggle="tooltip" data-placement="top" title="{{.Description}}">
		                                <div class="led-{{.LedColour}}-off" id="{{.Id}}"></div><p>{{.Name}}</p>
	                                </div>
                                {{end}}
                            </span>
                        </div>
                    </div>
                    <h3>Diagnostic Warnings</h3>
                    <p>Analysis of the ECU data is used to determine a possible fault condition and a provide an indicator that more investigation may be required. Under high load conditions the ECU can generate invalid data and the warning may be inaccurate.</p>
                    <div class="card bg-light">
                        <div class="card-body">
                            <span>
                                {{range .ECUWarningLeds}}
	                                <div class="led-box" data-toggle="tooltip" data-placement="top" title="{{.Description}}">
		                                <div class="led-{{.LedColour}}-off" id="{{.Id}}"></div><p>{{.Name}}</p>
	                                </div>
                                {{end}}
                            </span>
                            <span>
                                {{range .ECUAnalyticsEngineLeds}}
	                                <div class="led-box" data-toggle="tooltip" data-placement="top" title="{{.Description}}">
		                                <div class="led-{{.LedColour}}-off" id="{{.Id}}"></div><p>{{.Name}}</p>
	                                </div>
                                {{end}}
                            </span>
                            <span>
                                {{range .ECUAnalyticsLambdaLeds}}
	                                <div class="led-box" data-toggle="tooltip" data-placement="top" title="{{.Description}}">
		                                <div class="led-{{.LedColour}}-off" id="{{.Id}}"></div><p>{{.Name}}</p>
	                                </div>
                                {{end}}
                            </span>
                        </div>
                    </div>
                </div>

                <!-- settings -->
                <div id="settings" class="tab-pane container">
                    <h2>Settings</h2>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button type="button" class="btn btn-outline-secondary"
                                                    onclick="getAvailableSerialPorts()">Serial Port
                                            </button>
                                            <button type="button" onfocus="getAvailableSerialPorts()"
                                                    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" id="ports">
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="port" placeholder="/dev/usb.serial"
                                               aria-label="Serial Port">
                                    </div>

                                    <div class="input-group mb-3 d-none">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" id="logtofile"
                                                       aria-label="Checkbox for following text input">
                                                <label class="form-check-label" for="logtofile">&nbsp;Log Data to
                                                    File</label>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="logfolder" aria-label="Log folder.."
                                               aria-readonly readonly>
                                    </div>

                                    <div class="input-group mb-3">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>ECU Sample Rate (ms)</td>
                                                <td>
                                                    <div class="range-slider-settings" data-toggle="tooltip"
                                                         data-placement="top"
                                                         title="The ECU will be called twice per ECU Sample as data requests require 2 calls. A value <500ms can introduce instability.">

                                                        <input id="ecuqueryfrequency" class="range-slider__range" type="range"
                                                               value="{{.ECUQueryInterval.Value}}" min="{{.ECUQueryInterval.Min}}" max="{{.ECUQueryInterval.Max}}" step="{{.ECUQueryInterval.Steps}}" enabled oninput="updateECUQueryIntervalLabel(this.value)">
                                                        <span id="ecuqueryfrequencyvalue" class="range-slider__value">0</span>

                                                      </div>
                                                </td>
                                            </tr>
                                            <tr class="debug">
                                                <td>Enable Diagnostic Logging</td>
                                                <td><input id="diagnosticslogging" onchange="activateDiagnostics(this)" type="checkbox" data-toggle="toggle" data-on="On" data-off="Off" data-onstyle="success"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <span class="input-group-btn">
											<button class="btn btn-default btn-outline-success my-2 my-sm-0"
                                                    id="applySettings" onclick="Save();" type="button">Apply</button>
											</span>
                                </div>
                            </form>

                            <div class="debugLog" id="debugLog" readonly></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <!-- page-content" -->
</div>
<!-- page-wrapper -->

<!-- third-party javascript libraries -->
<script type="text/javascript" src="js/jquery-3.5.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="js/bootstrap4-toggle.min.js"></script>
<script type="text/javascript" src="fontawesome/js/fontawesome.min.js"></script>
<script type="text/javascript" src="js/pro-sidebar.js"></script>
<script type="text/javascript" src="js/gauge.min.js"></script>
<script type="text/javascript" src="js/regression.min.js"></script>
<script type="text/javascript" src="js/chart.min.js"></script>

<!-- MemsFCR javascript functions -->
<script type="text/javascript" src="js/memsfcr.js"></script>
<script type="text/javascript" src="js/mems-historical.js"></script>
<script async type="text/javascript" src="js/mems-dashboard.js"></script>
</body>
</html>
