<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="google" content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link href="fontawesome/css/all.css" rel="stylesheet"/>
    <link href="css/pro-sidebar.css" rel="stylesheet"/>
    <link href="css/sidebar-themes.css" rel="stylesheet"/>
    <link href="css/led.css" rel="stylesheet"/>
    <link href="css/Chart.css" rel="stylesheet">
    <link href="css/memsfcr.css" rel="stylesheet">

    <title>MEMSFCR - MEMS Fault Code Reader</title>
</head>

<body>
<div class="page-wrapper light-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-caret-square-right"></i>
    </a>

    <!-- load scenario modal dialog -->
    {{template "dialog.template.html"}}

    <!-- sidebar menu -->
    {{template "sidebar.template.html"}}

    <main class="page-content">
        <div class="container-fluid">
            <div class="tab-content">
                <!-- dashboard -->
                {{ template "dashboard.template.html" . }}

                <!-- profiling graphs -->
                {{ template "charts.template.html" . }}

                <!-- ECU Data -->
                {{ template "ecudata.template.html" . }}

                <!-- adaptive values -->
                {{ template "adaptive.template.html" . }}

                <!-- test actuators -->
                {{ template "actuators.template.html" . }}

                <!-- faults and alerts-->
                {{ template "faults.template.html" . }}

                <!-- settings -->
                {{ template "settings.template.html" . }}

            </div>
        </div>
    </main>
</div>


<!-- third-party javascript libraries -->
<script type="text/javascript" src="js/jquery-3.5.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="js/bootstrap4-toggle.min.js"></script>
<script type="text/javascript" src="fontawesome/js/fontawesome.min.js"></script>
<script type="text/javascript" src="js/pro-sidebar.js"></script>
<script type="text/javascript" src="js/gauge.min.js"></script>
<script type="text/javascript" src="js/regression.min.js"></script>
<script type="text/javascript" src="js/chart.min.js"></script>

<!-- MemsFCR javascript functions -->
<script type="text/javascript" src="js/memsfcr.js"></script>
<script type="text/javascript" src="js/mems-historical.js"></script>
<script async type="text/javascript" src="js/mems-dashboard.js"></script>
</body>
</html>
