.tooltip.in {
	opacity: 1;
}

body {
	padding: 10;
	margin: 0;
	background: rgb(253, 253, 253);
}

#wrapper {
	padding: 90px 15px;
}

.navbar-expand-lg .navbar-nav.side-nav {
	flex-direction: column;
}

.card {
	margin-bottom: 15px;
	border-radius: 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.header-top {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.leftmenutrigger,
.navbar-nav li a .shortmenu {
	display: none;
}

.card-title {
	font-size: 28px;
}

@media (min-width: 992px) {
	#wrapper {
		padding: 90px 15px 15px 75px;
	}
	.navbar-nav.side-nav:hover {
		left: 0;
	}
	.side-nav li a {
		padding: 20px;
	}
	.navbar-nav li a .shortmenu {
		float: right;
		display: block;
		opacity: 1;
	}
	.navbar-nav.side-nav:hover li a .shortmenu {
		opacity: 0;
	}
	.navbar-nav.side-nav {
		background: #585f66;
		box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
		position: fixed;
		top: 56px;
		flex-direction: column !important;
		left: -140px;
		width: 200px;
		overflow-y: auto;
		bottom: 0;
		overflow-x: hidden;
		padding-bottom: 40px;
	}
}

.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.navbar-nav li a svg {
	font-size: 25px;
	float: left;
	margin: 0 10px 0 5px;
}

.side-nav li {
	border-bottom: 1px solid #50575d;
}

.adjustment {
	vertical-align: middle;
	color: #50575d;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.chart-container {
	position: relative;
	height: 220px;
	background-color: rgba(221, 221, 221, 0.05);
}

.gauge-label-container {
	text-align: center;
	vertical-align: middle;
	color: #50575d;
	font-size: 12px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	position: relative;
	height: 20px;
	width: 220px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(221, 221, 221, 0.05);
	border: 0;
}

.gauge-container {
	position: relative;
	height: 200px;
	width: 220px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(221, 221, 221, 0.05);
	border: 0;
}

.gauge-led {
	z-index: 1000;
	position: relative;
	left: 50px;
	top: -50px;
}

.spark-container {
	position: relative;
	height: 30px;
	width: 220px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	background-color: rgba(221, 221, 221, 0.05);
	border: 0;
}

.dashboard-container {
	position: relative;
	height: 280px;
	width: 220px;
	border-radius: 25px;
	background-color: rgba(221, 221, 221, 0.05);
	border: 0;
}

.tooltip > .tooltip-inner {
	background-color: rgba(46, 78, 20, 0.9);
	color: #ffffff;
	border: 1px solid rgb(55, 59, 55);
	padding: 5px;
	font-size: 13px;
}

.range-slider {
	margin: 30px 0 0 0%;
	width: 100%;
}

.range-slider-settings {
	margin-left: 10px;
	width: 100%;
}

.range-slider__range {
	-webkit-appearance: none;
	width: calc(100% - (73px));
	height: 10px;
	border-radius: 5px;
	background: #d7dcdf;
	outline: none;
	padding: 0;
	margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #2c3e50;
	cursor: pointer;
	transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
	background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
	background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: #2c3e50;
	cursor: pointer;
	transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
	background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
	background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
	display: inline-block;
	position: relative;
	width: 60px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #2c3e50;
	padding: 5px 10px;
	margin-left: 8px;
}

.range-slider__value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #2c3e50;
	border-bottom: 7px solid transparent;
	content: "";
}

::-moz-range-track {
	background: #d7dcdf;
	border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
	border: 0;
}

.dropdown-menu {
	font-size: 0.8rem;
	height: 150px;
	max-width: 250px;
	overflow-y: auto;
	padding: 0 0 0 0;
}

.alert-connect {
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	max-width: 215px;
	overflow-y: auto;
}
.flashing-button {
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
	0% {
		-webkit-box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
	50% {
		-webkit-box-shadow: 0 0 10px rgba(113, 197, 45, 0.9);
	}
	100% {
		-webkit-box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
}

@-moz-keyframes glowing {
	0% {
		-moz-box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
	50% {
		-moz-box-shadow: 0 0 10px rgba(113, 197, 45, 0.9);
	}
	100% {
		-moz-box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
}

@-o-keyframes glowing {
	0% {
		box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
	50% {
		box-shadow: 0 0 10px rgba(113, 197, 45, 0.9);
	}
	100% {
		box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
}

@keyframes glowing {
	0% {
		box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
	50% {
		box-shadow: 0 0 10px rgba(113, 197, 45, 0.9);
	}
	100% {
		box-shadow: 0 0 3px rgba(46, 78, 20, 0.5);
	}
}
